<div class="nav_reg">
    {% if request.user.is_authenticated %}
    <span class="nav_link nav_link--reg nav_link--reg--login">
    Добро пожаловать, {{ user.username }} | <a href="{% url 'reviews' %}" class="nav_link nav_link--reg">
    Отзывы</a> | <a href="{% url 'user_logout' %}" class="nav_link nav_link--reg">
    Выход</a></span><br><br>
    <span class="nav_link nav_link--reg nav_link--reg--login">
    <a href="{% url 'password_change' %}" class="nav_link nav_link--reg">Сменить пароль</a> | 
    <a href="{% url 'user_change_email' %}" class="nav_link nav_link--reg">Сменить email</a>
    </span>
    {% else %}
    <a href="{% url 'register' %}" class="nav_link nav_link--reg">
        Регистрация</a> |
        <a href="{% url 'user_login' %}" class="nav_link nav_link--reg">
        Вход</a>
    {% endif %}
</div>
