{% extends 'main/layout_2.html' %}
{% load static %}

{% block title %}
<title>Подтверждение email</title>
{% endblock title %}

{% block kontent %}
<div class="reviews_main">
    {% include 'main/messages.html' %}
    <div class="container">
        {% include 'user/include/nav_reg.html' %}
        <div class="b_unity_title b_unity_title--register">
            <div class="b_title">Поздравляем, вы зарегистрированы</div>
        </div><!--b_unity_title-->

    </div><!--container-->
</div><!--reviews_main-->
{% endblock kontent %}
