{% extends 'main/layout_2.html' %}
{% load static %}

{% block title %}
<title>Цены</title>
{% endblock title %}

{% block kontent %}
    <!--Описание бронирования-->
<div class="booking_inner">
    <div class="container">
        
        <div class="b_unity_title">
            <div class="b_title">Цены:</div>
            <div class="b_descript b_descript--title">(цена указана за 1-го человека)</div>
        </div><!--b_unity_title-->

        <div class="b_cost">
            <div class="b_cost_item">

                <div class="cost_season">
                    При повышенном спросе:
                    <div class="b_descript b_descript--title">(новогодние праздники, июнь-август)</div>
                </div>

                <div class="b_cost_inner"><!-- Блок цен -->
                    <div class="cost_descript">
                        <div class="cost_descript_inner">
                            Дом с удобствами:<br>
                        </div>

                        <div class="cost_descript_inner">
                            Дом без удобств:<br>
                        <div class="b_descript">(санузел на улице)</div>
                            </div>
                    </div>

                    <div class="cost_price">
                        <div class="cost_price_inner"><!-- Дом с удобствами -->
                            50 byn
                        </div>

                        <div class="cost_price_inner"><!-- Дом без удобств -->
                            40 byn
                        </div>
                    </div>             
                </div><!-- b_cost_inner --> <!-- Блок цен -->
            </div><!-- b_cost_item -->

            <div class="b_cost_item">

                <div class="cost_season">
                    Межсезонье:
                    <div class="b_descript b_descript--title">&nbsp;</div>
                </div>

                <div class="b_cost_inner"> <!-- Блок цен -->
                    <div class="cost_descript">
                        <div class="cost_descript_inner">
                            Дом с удобствами:<br>
                        </div>

                        <div class="cost_descript_inner">
                            Дом без удобств:<br>
                        <div class="b_descript">(санузел на улице)</div>
                        </div>
                    </div>

                    <div class="cost_price">
                        <div class="cost_price_inner"><!-- Дом с удобствами -->
                            40 byn
                        </div>

                        <div class="cost_price_inner"><!-- Дом без удобств -->
                            30 byn
                        </div>
                    </div><!-- cost_price -->    
                </div><!-- b_cost_inner -->
            </div><!-- b_cost_item --> <!-- Блок цен -->
            
        </div><!--b_cost-->


                        <!-- Доп. услуги: -->
        <div class="b_unity_title">
            <div class="b_title">Доп. услуги:</div>
        </div><!--b_unity_title-->
        
        <div class="b_cost">
            <div class="b_cost_item">
                <div class="b_cost_inner">
                    <div class="cost_descript">
                        <div class="cost_descript_inner">
                            Баня:<br>
                            <div class="b_descript">
                            (За сеанс)   
                            </div><!-- b_descript -->
                        </div><!-- cost_descript_inner -->

                        <div class="cost_descript_inner">
                            Велосипеды:<br>
                            <div class="b_descript">
                            (За шт/сутки)   
                            </div><!-- b_descript -->
                        </div><!-- cost_descript_inner -->

                        <div class="cost_descript_inner">
                            Лодка:<br>
                            <div class="b_descript">
                            (За сутки)   
                            </div><!-- b_descript -->
                        </div><!-- cost_descript_inner -->

                    </div><!-- cost_descript -->

                    <div class="cost_price"><!-- баня -->
                        <div class="cost_price_inner">
                            60 byn
                        </div>

                        <div class="cost_price_inner"><!-- Велосипед -->
                            15 byn
                        </div>

                        <div class="cost_price_inner"><!-- Велосипед -->
                            30 byn
                        </div>
                    </div><!-- cost_price --> 
                </div><!-- b_cost_inner -->     
            </div><!-- b_cost_item --> <!-- Блок цен -->
            
            <div class="b_cost_item">
                <div class="b_cost_inner">
                    <div class="cost_descript">
                        <div class="cost_descript_inner">
                                Домашний мёд:<br>
                            <div class="b_descript">
                                (За 0,5л)   
                            </div><!-- b_descript -->
                        </div><!-- cost_descript_inner -->

                        <div class="cost_descript_inner">
                                Трансфер:<br>
                            <div class="b_descript">
                                (Зависит от расстояния)
                            </div><!-- b_descript -->
                        </div><!-- cost_descript_inner -->

                        <div class="cost_descript_inner">
                            <br>
                            <div class="b_descript">
                                
                            </div><!-- b_descript -->
                        </div><!-- cost_descript_inner -->

                    </div><!-- cost_descript -->

                    <div class="cost_price"><!-- баня -->
                        <div class="cost_price_inner">
                            12 byn
                        </div>

                        <div class="cost_price_inner"><!-- Велосипед -->
                            Договорная
                        </div>

                        <div class="cost_price_inner"><!-- Велосипед -->
                            
                        </div>
                    </div><!-- cost_price --> 
                </div><!-- b_cost_inner -->     
            </div><!-- b_cost_item --> <!-- Блок цен -->
        </div><!--b_cost-->


            <!-- Условия размещения -->

        <div class="b_unity_title">
            <div class="b_title">Условия размещения:</div>
        </div><!--b_unity_title-->

        <div class="b_cost">
            <div class="b_cost_item">
                    <div class="cost_descript cost_descript--checkin">
                        <div class="cost_descript_inner">
                            Предоплата в размере суммы равной суткам проживания<br>
                            <div class="b_descript">
                                (перечисляется на карту, в случае отказа не возвращается)
                            </div><!-- b_descript -->
                        </div><!-- cost_descript_inner -->

                        <div class="cost_descript_inner">
                            Заезд c 14:00<br>
                        </div><!-- cost_descript_inner -->

                        <div class="cost_descript_inner">
                            Выселение в 12:00<br>
                        </div><!-- cost_descript_inner -->

                    </div><!-- cost_descript -->
            </div><!-- b_cost_item -->

            
            <div class="b_cost_item">
                    <div class="cost_descript cost_descript--checkin">
                        <div class="cost_descript_inner">
                            Постельное бельё и банные принадлежности будут выданны на месте<br>
                        </div><!-- cost_descript_inner -->

                        <div class="cost_descript_inner">
                            Питание отсутствует<br>
                        </div><!-- cost_descript_inner -->

                        <div class="cost_descript_inner">
                            Курение в номерах запрещено<br>
                            <div class="b_descript">
                                (есть места для курения на участке)
                            </div><!-- b_descript -->
                        </div><!-- cost_descript_inner -->

                    </div><!-- cost_descript -->
                
            </div><!-- b_cost_item -->
        </div><!-- b_cost -->

        <div class="b_unity_title">
            <div class="b_title b_title--send_form">Отправте ваши данные и мы свяжемся с вами</div>
        </div><!--b_unity_title-->
        
        
            <form method="post" class="form_send_data" id="form_send_data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn--brown" type="submit">Отправить</button>
            </form>

    </div><!--container-->
</div><!--booking_inner-->
<script src="{% static 'main/js/form.js' %}"></script>
{% include 'main/messages.html' %}

{% endblock kontent %}
