{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
<title>Аренда дома Нарочь</title>
{% endblock title %}

{% block kontent %}
            <!--Интро-->
    <div class="intro" id="intro"> 
        <div class="container">
            <div class="intro_inner">
                <h1 class="intro_title">Naroch Guest House</h1>
                <h2 class="intro_subtitle">Домики расположены на северо-западном берегу самого крупного озера в 
                Беларуси в 160 км от Минска в Национальном парке. Комплекс "Naroch Guest House" находится в лесу на берегу озера и состоит
                из трех гостевых домов, оборудованных кухнями, санузлами, зонами барбекю, беседками. Гостям предлагается прокат велосипедов,
                лодки, лыж и коньков, а также другого спортивного инвентаря. 
                </h2>

                <a class="btn btn--red" href="{% url 'booking' %}">Узнать больше</a>
            </div>
        </div>
    </div>
    <div class="container">
        {% include 'main/include/admin_nav.html' %}
    </div>
        <!--Иконки-->
    <div class="container">
        <div class="features">
            <div class="features_ietm">
                <img class="features_icon" src="{% static 'main/img/features/location.png' %}" alt="">
                <h4 class="features_title">Выгодное расположение</h4>
                <div class="features_text">Дом находится в ста метрах от озера,
                    в сосновом лесу, посёлок рассположен на удалении -
                    никто не помешает вашему отдыху 
                </div>
            </div> 

            <div class="features_ietm">
                <img class="features_icon" src="{% static 'main/img/features/safety.png' %}" alt="">
                <h4 class="features_title">Безопасность</h4>
                <div class="features_text">Имеются камеры видеонаблюдения,
                заключен договор с департаментом охраны, в домах имеются датчики дыма и огнетушители,
                есть охраняемая парковка
                

                </div>
            </div>

            <div class="features_ietm">
                <img class="features_icon" src="{% static 'main/img/features/tree.png' %}" alt="">
                <h4 class="features_title">На свежем воздухе</h4>
                <div class="features_text">На участке есть места для барбекю и пикника со всеми принадлежностями,
                беседки, шизлонги, снаряжение для бадминтона и многое другое
                </div>
            </div>    

            <div class="features_ietm">
                <img class="features_icon" src="{% static 'main/img/features/pets.png' %}" alt="">
                <h4 class="features_title">Домашние животные</h4>
                <div class="features_text">Допускается размещение домашних животных.
                Дополнительная плата не взимается
                </div>
            </div>    

            <div class="features_ietm">
                <img class="features_icon" src="{% static 'main/img/features/transfer.png' %}" alt="">
                <h4 class="features_title">Транспорт</h4>
                <div class="features_text">Трансфер в аэропорт, из аэропорта, недалеко находится место прибытия маршруток,
                охраняемая парковка на участке
                </div>
            </div>    

            <div class="features_ietm">
                <img class="features_icon" src="{% static 'main/img/features/house.png' %}" alt="">
                <h4 class="features_title">Общее</h4>
                <div class="features_text">Оборудованы места для курения, 
                баня, массаж, аренда велосипедов, лыж, лодки, настольные игры, Wi-Fi
                </div>
            </div>    
        </div> <!--features-->
    </div> <!--container features-->

    <!--Фотки главная-->
    <div class="photo_main">
        <div class="photo_item">
            <img class="photo_main_photo" src="{% static 'main/img/photo_main/1.jpg' %}" alt="">
            <div class="photo_content">
                <div class="photo_title">Вид сверху</div>
                <div class="photo_text"></div>
            </div>
        </div>
        <div class="photo_item">
            <img class="photo_main_photo" src="{% static 'main/img/photo_main/2.jpg' %}" alt="">
            <div class="photo_content">
                <div class="photo_title">Дом №1</div>
                <div class="photo_text"></div>
            </div>
        </div>
        <div class="photo_item">
            <img class="photo_main_photo" src="{% static 'main/img/photo_main/3.jpg' %}" alt="">
            <div class="photo_content">
                <div class="photo_title">Дом №2</div>
                <div class="photo_text"></div>
            </div>
        </div>

        <div class="photo_item">
            <img class="photo_main_photo" src="{% static 'main/img/photo_main/10.jpg' %}" alt="">
            <div class="photo_content">
                <div class="photo_title">Баня</div>
                <div class="photo_text"></div>
            </div>
        </div>

        <div class="photo_item">
            <img class="photo_main_photo" src="{% static 'main/img/photo_main/4.jpg' %}" alt="">
            <div class="photo_content">
                <div class="photo_title">Беседка №1</div>
                <div class="photo_text"></div>
            </div>
        </div>
        <div class="photo_item">
            <img class="photo_main_photo" src="{% static 'main/img/photo_main/5.jpg' %}" alt="">
            <div class="photo_content">
                <div class="photo_title">Christmas Tree</div>
                <div class="photo_text"></div>
            </div>
        </div>
        <div class="photo_item">
            <img class="photo_main_photo" src="{% static 'main/img/photo_main/6.jpg' %}" alt="">
            <div class="photo_content">
                <div class="photo_title">Беседка №2</div>
                <div class="photo_text"></div>
            </div>
        </div>
        <div class="photo_item">
            <img class="photo_main_photo" src="{% static 'main/img/photo_main/7.jpg' %}" alt="">
            <div class="photo_content">
                <div class="photo_title">Окрестности</div>
                <div class="photo_text"></div>
            </div>
        </div>
        <div class="photo_item">
            <img class="photo_main_photo" src="{% static 'main/img/photo_main/8.jpg' %}" alt="">
            <div class="photo_content">
                <div class="photo_title">Окрестности</div>
                <div class="photo_text"></div>
            </div>
        </div>
        <div class="photo_item">
            <img class="photo_main_photo" src="{% static 'main/img/photo_main/9.jpg' %}" alt="">
            <div class="photo_content">
                <div class="photo_title">Окрестности</div>
                <div class="photo_text"></div>
            </div>
        </div>

        <div class="photo_item">
            <img class="photo_main_photo" src="{% static 'main/img/photo_main/11.jpg' %}" alt="">
            <div class="photo_content">
                <div class="photo_title">Зимнее озеро</div>
                <div class="photo_text"></div>
            </div>
        </div>
        <div class="photo_item">
            <img class="photo_main_photo" src="{% static 'main/img/photo_main/12.jpg' %}" alt="">
            <div class="photo_content">
                <div class="photo_title">Вид с пляжа</div>
                <div class="photo_text"></div>
            </div>
        </div>
    </div><!--photo_main-->

    <!--Slider Reviews-->
    <div class="container">
        <div class="team_title slider_title">
            <h1>Отзывы:</h1>
        </div>
        <div class="slider" id="slider">
            <div class="slider_line" id="slider_line">
                <img src="{% static 'main/img/reviews/MainrRviews.jpg' %}" alt="">
                <img src="{% static 'main/img/reviews/1.jpg' %}" alt="">
                <img src="{% static 'main/img/reviews/3.jpg' %}" alt="">
                <img src="{% static 'main/img/reviews/4.jpg' %}" alt="">
                <img src="{% static 'main/img/reviews/5.jpg' %}" alt="">
                <img src="{% static 'main/img/reviews/6.jpg' %}" alt="">
                <img src="{% static 'main/img/reviews/7.jpg' %}" alt="">
                <img src="{% static 'main/img/reviews/8.jpg' %}" alt="">
                <img src="{% static 'main/img/reviews/9.jpg' %}" alt="">
                <img src="{% static 'main/img/reviews/10.jpg' %}" alt="">
            </div><!--slider_line-->
            <button class="slider_btn slider_btn_prev" id="slider_prev">
                <div class="slider_btn_text"> < </div>
            </button>
            <button class="slider_btn slider_btn_next" id="slider_next">
                <div class="slider_btn_text"> > </div>
            </button>
        </div><!--slider-->
    </div><!--container-->

    <!--Team-->
    <div class="team">
        <div class="team_title">
            <h1>Наша команда:</h1>
        </div>
        <div class="container">
            <div class="team_inner">
                <div class="team_item">
                    <img class="team_photo" src="{% static 'main/img/team/maxim.jpg' %}" alt="">
                    <div class="team_name">Максим Станиславович</div>
                    <div class="team_prof">Арендодатель</div>
                    <div class="team_text">Проконсультирует вас по
                    вопросам размещения</div>
                    <div class="social">
                                <a class="social_item" href="https://t.me/Stepenevo" target="_blank">
                                    <svg class="social_icon">
                                        <use xlink:href="#telegram"></use>
                                    </svg>
                                </a>
                    </div>
                </div>

                <div class="team_item">
                    <img class="team_photo" src="{% static 'main/img/team/julia.jpg' %}" alt="">
                    <div class="team_name">Юлия Анатольевна</div>
                    <div class="team_prof">Арендодатель</div>
                    <div class="team_text">Проконсультирует вас по
                    вопросам размещения</div>
                    <div class="social">
                        <a class="social_item" href="https://t.me/YulRoz" target="_blank">
                            <svg class="social_icon">
                                <use xlink:href="#telegram"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="team_item">
                    <img class="team_photo" src="{% static 'main/img/team/bron_and_zara.jpg' %}" alt="">
                    <div class="team_name">Брон и Зара</div>
                    <div class="team_prof">Эксперты в области охраны</div>
                    <div class="team_text">Можно гладить.<br>Попрошайничают шашлык</div>
                    
                </div>

                <div class="team_item">
                    <img class="team_photo" src="{% static 'main/img/team/cat.jpg' %}" alt="">
                    <div class="team_name">Коты</div>
                    <div class="team_prof">Просто коты</div>
                    <div class="team_text">Можно гладить, но не факт</div>
                </div>
            </div><!--team_inner-->
        </div><!--container-->
    </div><!--team-->
    
        <!--Google Maps-->
    <div class="container">
        <div class="google_maps">
            <iframe class="google_maps--inner" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9180.628814734151!2d26.67659906406638!3d54.88260871365604!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc4691d054bcc9d8c!2sNaroch%20Guest%20House!5e0!3m2!1sru!2sby!4v1665584720019!5m2!1sru!2sby" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div><!--google_maps-->
    </div><!--container-->
    <script src="{% static 'main/js/slider.js' %}"></script>
{% endblock kontent %}
