{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,700;1,400&family=Raleway:wght@400;600;700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- viewport - для адаптивной вёрстки, ширина сайта = ширене девайса с которого зашёл человек, initial-scale=1 - для зума -->
    <!-- Фавиконка адаптированная -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'main/img/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'main/img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'main/img/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'main/img/favicons/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'main/img/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta name="description" content="Naroch guest house приглаешает вас отдохнуть у озера, в вашем распоряжении будет несколько вариантов размещения, баня, принадлежности и место для барбекю, бесплатный Wi-Fi и бесплатная частная парковка, а так-же множество других услуг"> <!-- description - описание страницы -->
    <meta name="robots" content="all"> <!-- robots - могут ли роботы просматривать страницу -->
    <meta name="keywords" content="дом, коттедж, снять, аренда, озеро, лес, отпуск, отдых, выходные, баня"> <!-- keywords - используются яндексом, гугл не использует, можно не заполнять -->
    
    {% block title %}
    {% endblock title %}

    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.slim.min.js" integrity="sha512-6ORWJX/LrnSjBzwefdNUyLCMTIsGoNP6NftMy2UAm1JBm6PRZCO1d7OHBStWpVFZLO+RerTvqX/Z9mBFfCJZ4A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>

<!--SVG sprite-->
<g>
<svg style="display: none;">
    <symbol id="telegram" viewBox="0 0 50 50">
        <path d="M46.137,6.552c-0.75-0.636-1.928-0.727-3.146-0.238l-0.002,0C41.708,6.828,6.728,21.832,5.304,22.445	c-0.259,0.09-2.521,0.934-2.288,2.814c0.208,1.695,2.026,2.397,2.248,2.478l8.893,3.045c0.59,1.964,2.765,9.21,3.246,10.758	c0.3,0.965,0.789,2.233,1.646,2.494c0.752,0.29,1.5,0.025,1.984-0.355l5.437-5.043l8.777,6.845l0.209,0.125	c0.596,0.264,1.167,0.396,1.712,0.396c0.421,0,0.825-0.079,1.211-0.237c1.315-0.54,1.841-1.793,1.896-1.935l6.556-34.077	C47.231,7.933,46.675,7.007,46.137,6.552z M22,32l-3,8l-3-10l23-17L22,32z"/>
    </symbol>
</svg>
</g>

            <!--Шапка-->
    <header class="header" id="header"> 
        <div class="container">
            <div class="header_inner">
                <div class="header_logo">
                    <img src="{% static 'main/img/other/logo.jpg' %}" alt="">
                </div>

                <!--Насигация-->
                <nav class="nav" id="nav">
                    <a href="{% url 'home' %}" class="nav_link">Главная</a>
                    <a href="{% url 'galery' %}" class="nav_link">Фото</a>
                    <a target="_blank" href="https://www.google.com/maps/place/Naroch+Guest+House/@54.8826102,26.6765867,15z/data=!4m10!3m9!1s0x0:0xc4691d054bcc9d8c!5m4!1s2022-06-26!2i6!4m1!1i2!8m2!3d54.8826102!4d26.6765867" class="nav_link">Как нас найти</a>
                    <a href="#f_contacts" class="nav_link">Контакты</a>
                    <a href="{% url 'booking' %}" class="nav_link">Цены</a>
                    <a href="{% url 'calendar' %}" class="nav_link">Календарь</a>
                </nav>
            
                <!--Бургер-->
                <button class="burger" id="navToggle">
                    <span class="burger_item">Menu</span>
                </button>
            </div>

        </div>
    </header>

    {% block kontent %}
    {% endblock kontent %}

    <!--Footer-->
    <footer class="footer" id="f_contacts">
        <div class="container">
            <div class="footer_inner">
                <div class="footer_block">
                    <h4 class="footer_title">
                        Расположение</h4>
                    <address class="footer_address">
                    <div>Минская область Мядельский район</div>
                    <div>деревня Степенёво, ул.Туристская дом 17</div></address>
                </div><!--footer_block-->

                <div class="footer_block">
                    <h4 class="footer_title">
                        Телеграм Бот</h4>
                    <div class="social social--footer">
                        <a class="social_item" href="https://t.me/NarochGuestHouse_bot" target="_blank">
                            <svg class="social_icon">
                                <use xlink:href="#telegram"></use></svg></a>
                    </div><!--social-->
                </div><!--footer_block-->

                <div class="footer_block">
                    <h4 class="footer_title">
                        Связь</h4>
                    <div class="footer_phone"><a href="mailto:naroch17guesthouse@gmail.com">
                        naroch17guesthouse@gmail.com</a><br>
                        <a href="tel:+375293600588">+375 (29) 360-05-88</a><br>
                        <a href="tel:+375293600588">+375 (29) 320-05-88</a><br>

                    </div><!--footer_phone-->
                </div><!--footer_block-->

                <div class="footer_block footer_block--btn">
                    <a class="btn btn--footer" href="{% url 'booking' %}#form_send_data">
                        <h4 class="footer_title footer_title--btn">Оставить контакты для связи</h4> 
                    </a>
                </div><!--footer_block-->

                <div class="footer_block footer_block--btn">
                    <a class="btn btn--footer" href="{% url 'reviews' %}">
                        <h4 class="footer_title footer_title--btn">Оставьте ваш отзыв</h4> 
                    </a>
                </div><!--footer_block-->
                
                <div class="footer_block footer_block--btn">
                    <a class="btn btn--footer" href="{% url 'calendar' %}#calendar">
                        <h4 class="footer_title footer_title--btn">Свободные места</h4> 
                    </a>
                </div><!--footer_block-->
        
            </div><!--footer_inner-->
        </div><!--container-->
    </footer><!--footer-->
    
    <!--JavaScript-->
    <script src="{% static 'main/js/app.js' %}"></script>
</body>
</html>
