            <!--Вывод сообщений-->
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert_error">
                        <div class="alert_text">{{ message }}</div>
                    </div>
                {% else %}
                    <div class="alert_other">
                        <div class="alert_text">{{ message }}</div>
                    </div>
                {% endif %}
    
            {% endfor %}
    
        {% endif %}
