{% extends 'main/layout_2.html' %}
{% load static %}

{% block title %}
<title>Админ панель персонала</title>
{% endblock title %}

{% block kontent %}
<div class="container">
    <div class="reviews_main">
        <div class="btn_admin_wrapper">
            <a href="{% url 'home' %}" class="btn btn--brown btn-admin">На главную</a>
            <a href="{% url 'comment_moderation' %}" class="btn btn--brown btn-admin">Модерация крмментариев</a>
            <a href="{% url 'gallery_moderation' %}" class="btn btn--brown btn-admin">Модерация галлереи</a>
        </div>
        </div>
    </div>
</div>
{% endblock kontent %}