{% extends 'main/layout_2.html' %}
{% load static %}

{% block title %}
<title>Добавить комментарий</title>
{% endblock title %}

{% block kontent %}
{% include 'main/messages.html' %}
<div class="container">
    <div class="btn_admin_wrapper">
        <a href="{% url 'admin_for_staff' %}" class="btn btn--brown btn-admin">Главная админки</a>
        <a href="{% url 'home' %}" class="btn btn--brown btn-admin">На главную</a>
    </div>
    <div class="b_unity_title b_unity_title--register">
        <div class="b_title">Добавить комментарий:</div>
    </div>

    <form method="post" class="form_admin">
        {% csrf_token %}
        <p>
            <label for="text">Текст:</label>
            {{ form.text }}
        </p>
        <p>
            <label for="category">Категория:</label>
            {{ form.category }}
        </p>
        <div><button class="btn btn--brown" type="submit">Опубликовать комментарий</button></div>
    </form>
</div>
{% endblock kontent %}