{% extends 'main/layout_2.html' %}
{% load static %}

{% block title %}
<title>Сброс пароля</title>
{% endblock title %}

{% block kontent %}
<div class="reviews_main">
    {% include 'main/messages.html' %}
    <div class="container">
        {% include 'user/include/nav_reg.html' %}
        <div class="b_unity_title b_unity_title--register">
            <div class="b_unity_title b_unity_title--register">
            <div class="b_title">Сброс пароля</div>
        </div>
                {% if validlink %}
                    <form class="form_send_data register_form reset_password_from" id="reset_password_from" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn--brown">Изменить пароль</button>
                    </form>
                {% else %}
                    <p>The password reset link was invalid, possibly because it has
                        already been used. Please request a new password reset.</p>
                {% endif %}
        </div><!--b_unity_title-->

    </div><!--container-->
</div><!--reviews_main-->
{% endblock kontent %}
